@import url('https://fonts.googleapis.com/css?family=Comfortaa%7CRighteous');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* ^ Body */
body {
  background-image: linear-gradient(
    65deg,
    hsl(173deg 71% 77%) 0%,
    hsl(214deg 55% 87%) 15%,
    hsl(257deg 69% 80%) 44%,
    hsl(326deg 92% 69%) 82%,
    hsl(36deg 79% 65%) 100%
  );
  font-family: 'Helvetica', cursive;

}

/* ^ NavBar */
header {
  display: inline-block;
  width: 100%;
}

.navbar {
  font-family: "Helvetica";
  background-color: black;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  text-align: center;
  
}

.navbar > a {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;

}

a:hover {
  color: ghostwhite;
}

/* ^ Homepage container  */
.home-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}


h1 {
  font-family: 'Helvetica';
  margin:0;
  margin-bottom: .5em;
  padding-top: 1em;
  text-align: center;
}
h3 {
  font-family: 'Helvetica';
  margin:0;
  margin-bottom: .5em;
  text-align: center;
}

p {
  align-self: center;
  text-align: center;
}
textarea {
  width: 500px;
  height: 250px;
  align-self: center;
}





li {
  list-style: none;
}

li a {
  color: blueviolet;
}

input[type=text] {
  padding: .3em;
}

input[type=submit] {
  padding: .3em;
  color: black;
  background: mediumseagreen;
  font-size: 1em;
  border-radius: 10%;
}

.header-img {
  padding-top: 1em;
  width: 425px;
  align-self: center;
}