@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Handlee&family=Pacifico&family=Patrick+Hand+SC&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Lato:wght@300&family=Mukta&family=Poppins:wght@300&family=Prompt&display=swap');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

}

/* ^ Body */
body {
  background-image: linear-gradient(
    65deg,
    hsl(173deg 71% 77%) 0%,
    hsl(214deg 55% 87%) 15%,
    hsl(257deg 69% 80%) 44%,
    hsl(326deg 92% 69%) 82%,
    hsl(36deg 79% 65%) 100%
  );
  height: 100%;
  width: 100%;
}

/* ^ NavBar */
header {
  display: inline-block;
  width: 100%;
}

.header-img {
  padding-top: 4em;
  width: 400px;
  align-self: center;
}

.navbar {
  font-family: "Mukta";
  background-color: black;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  text-align: center;
}

.navbar > a {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
}

.navbar a:hover {
  color:rgb(163, 98, 163);
}

a {
  color: black;
}

/* ^ Homepage container  */
.home-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

h1 {
  font-family: "Pacifico";
  font-size: 100px;
  margin: 0;
  text-align: center;
  align-self: center;
}


h3 {
  font-family: "Helvetica";
  margin: 0;
  margin-bottom: 0.5em;

}

.question-txt {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  font-family: 'Prompt';
}

p {
  font-size: 16px;
}
textarea {
  width: 500px;
  height: 150px;
  align-self: center;
}

li {
  list-style: none;
}

li a {
  color: black;
  text-decoration: none;
}

input[type="text"] {
  padding: 0.3em;
}

.note-submit {
  margin-top: 45px;
  padding: 0.3em;
  color: white;
  background: rgb(163, 98, 163);
  font-family: "Mukta";
  font-size: 12px;
  border-radius: 10%;
  height: auto;
  cursor: pointer;
}

/* * Sticky Notes */

.post-it {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 250px;
  height: 225px;
  position: relative;
  background: #ffa;
  overflow: hidden;
  margin: 15px auto;
  padding: 5px;
  border-radius: 0 0 0 30px/45px;
  box-shadow: inset 0 -40px 40px rgba(0, 0, 0, 0.2),
    inset 0 25px 10px rgba(0, 0, 0, 0.2), 0 5px 6px 5px rgba(0, 0, 0, 0.2);
  /* line-height: 1.7em; */
  font-size: 16px;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  color: #130d6b;
}

.post-it:nth-child(1) {
  background-color:  #ffa;;
}
.post-it:nth-child(2) {
  background-color: lightblue;
}
.post-it:nth-child(3) {
  background-color: lightgreen;
}
.post-it:nth-child(4) {
  background-color: palevioletred;
}

.post-it li {
  cursor: pointer;
  /* border: 1px solid black; */
  margin-top: -20px;
  font-family: "Prompt";

}

.post-it p {
  font-family: "Gochi Hand", cursive;
  text-align: left;
}




.note-body {
  font-family: "Gochi Hand", cursive;
}

.post-it:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 25px;
  background: #ffa;
  box-shadow: 3px -2px 10px rgba(0, 0, 0, 0.2),
    inset 15px -15px 15px rgba(0, 0, 0, 0.3);
  left: 0;
  bottom: 0;
  z-index: 2;
  transform: skewX(25deg);
}


.post-it:nth-child(1)::before {
  background:  #ffa
}
.post-it:nth-child(2)::before {
  background: lightblue;
}
.post-it:nth-child(3)::before {
  background: lightgreen;
}
.post-it:nth-child(4)::before {
  background: palevioletred;
}

.new-post-it {
  background-color:#ffa !important;
}

.new-post-it:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 25px;
  background: #ffa !important;
  box-shadow: 3px -2px 10px rgba(0, 0, 0, 0.2),
    inset 15px -15px 15px rgba(0, 0, 0, 0.3);
  left: 0;
  bottom: 0;
  z-index: 2;
  transform: skewX(25deg);
}

.post-it:after {
  content: "";
  display: block;
  position: absolute;
  width: 75%;
  height: 20px;
  /* border-top:3px solid #130d6b; */
  border-radius: 50%;
  bottom: 0px;
  left: 10%;
}

.post-it h2 {
  text-align: center;
  padding: 0;
}

.post-it > .post-it-top {
  font-size: 14px;
  grid-row-start: 1;
  grid-row-end: 1;
  font-family: 'Mukta';
  height: auto;
}
.post-it-title {
  grid-row-start: 1;
  text-align: center;
  height: auto;
  font-family: 'Mukta';
  margin-top: -2px;
  font-size: 18px;
}



.post-it-body {
  margin-top: -10px;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-left: 5px;
  height: 100%;
}

.post-it-bottom {
  display: grid;
  grid-template-columns: 3;
  height: auto;
  gap: 5px;
  align-items: center;
  grid-row-start: 4;
  padding-right: 10px;

}
.post-it-bottom > .post-it-username {
  grid-column-start: 1;
  font-family: 'Dosis';
  font-size: 14px;
  padding-left: 10px;
  font-weight: 700;
  }



.post-it-bottom > .user-icos {
  grid-column-start: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: right;
  gap: 4px;
  margin-right: -10px;
}

.user-icos > .post-it-likes {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: center;

}
.user-icos > .post-it-edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.user-icos > .post-it-delete {
  display: flex;
  height: 100%;
  width: auto;
  justify-content: center;
  align-content: center;
}


/** Titling Post-its */

ul li {
  transform: rotate(-6deg);
}

ul li:nth-child(even) {
  transform:rotate(4deg);
  position:relative;
  top:5px;
}
ul li:nth-child(3n) {
  transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
ul li:nth-child(5n){
  transform:rotate(5deg);
  position:relative;
  top:-10px;
}




.delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  padding:0;
  margin:0;
}

.delete-container > .delete-input {
  width: auto;
  margin: 0;
  padding: 0px;
  border: none;
}

.delete-container > .delete-img {
  width: 20px;
  height: 20px;
  cursor: pointer;

}

.input-box {
  width: 75%;
  height: 50%;
  align-self: center;
  background-color: transparent;
  border: 0;
  font-family: 'Gochi Hand';
  font-size: 16px;
  padding-left: 10px;
  resize: none;
}

.input-box-title {
  width: 75%;
  height: 15px;
  align-self: center;
  background-color: transparent;
  border: 0;
  font-family: 'Gochi Hand';
  font-size: 16px;
  resize: none;
  overflow-y: hidden;
}

.done {
  text-decoration: line-through;
}

.signup-box {
  width: 30%;
  align-self: center;
  margin-bottom: 25px;
}



.main-container > .auth-text {
  align-self: center;
}



/** Blog Page */


.main-container > .create-post-div {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  align-items: center;
}


.create-post-div > .create-post-link {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  width: auto;
  font-family: 'Mukta';
  grid-column-start: 3;
  justify-self: center;
  
}

.create-post-div > .page-title {
  grid-column-start: 2;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.main-container > .bulletin-board {
  width: 75vw;
  height: auto;
  border: 45px solid rgb(40, 26, 13);
  background: url(/images/cork-board.png);
  margin: 30px;
  padding: 15px;
  align-self: center;
}

.bulletin-board > .browse-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0;
}

/* sticky notes adapted from: https://codepen.io/jweden/pen/kGBBpM */

.new-note-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 50px;
}

.new-note-bottom > .color-picker {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  gap: 5px;
}


.color-picker > .dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}

.dot:nth-child(1) {
  background-color:  #ffa;;
}
.dot:nth-child(2) {
  background-color: lightblue;
}
.dot:nth-child(3) {
  background-color: lightgreen;
}
.dot:nth-child(4) {
  background-color: palevioletred;
}